extends layout

block content
  h1 Users
  div(id='userTable', width='100%' height='500px')
  
  p 
    button(id="addButton", type="button" class="k-button") 
      span(class="k-icon k-i-plus") 
      | Add


  div(id="addWindow")
    h3 Fill out the form and click submit.
    p
      form(id="addUserForm")
        | Name:
        input(id="addName", type="text" name="id" class="k-input" required)
        br
        | Id:
        input(id="addId", type="text" name="context" class="k-input" required)
        br
        | Roles:
        input(id="addRoles", type="text" name="authString" class="k-input" required)
        br
        input(id="addUserButton" type="submit" value="Add User" class="k-button") 
        div(id="isAddValid")

  script(type="text/javascript").
    function createRoleEditor(container, options)
    {
      var dsRoles = new kendo.data.DataSource({
      transport: {
        read: {
          url: "/api/roles",
          dataType: "json"
          }
        },
        schema: {
         data: "roles"
        }
      });

      var input = $('<input/>');
      input.name = options.field;
      input.appendTo(container);
      input.kendoAutoComplete({
        dataSource: dsRoles,
        dataTextField: "name",
        separator: ", "
        });
    }

    $(function() {
    var ds = new kendo.data.DataSource({
      transport: {
        read: {
          url: "/api/users",
          dataType: "json"
          }
        },
        schema: {
         data: "users"
        }
      });

    $("#userTable").kendoGrid({
      dataSource: ds,
      columns: [{
        field: "name",
        title: "Name",
        editable: 'inline'
      }, {
        field: "id",
        title: "RFID Id",
        editable: 'inline'
      }, {
        field: "roles",
        title: "Roles",
        editable: 'inline',
        editor: createRoleEditor
      }, {
        title: "Actions",
        command: [ {name:"save", text:"Save"}, "destroy"]
      }, {
        field: "_id",
        hidden: true
      }],
      editable: true,
      sortable: true
      });

      $("#addWindow").kendoWindow({
        actions: ["close"],
        title: "Add User",
        visible: false,
        width: "500px",
        height: "300px"
        });

      $("#addButton").on('click', function() {
        $("#addWindow").data("kendoWindow").open();
        $("#addWindow").data("kendoWindow").center();
        });

      var addValidator = $("#addUserForm").kendoValidator().data("kendoValidator");
      $("#addUserForm").submit(function() {
        console.log("Got Here!");
        var data = $("#addUserForm").serializeArray();
        var jsonData = {};
        jsonData["name"] = data[0].value;
        jsonData["id"] = data[1].value;
        jsonData["roles"] = data[2].value;

        var dataString = JSON.stringify(jsonData);

        function addSuccess(data, status, what)
        {
          ds.read();
          $("#addWindow").data("kendoWindow").close();
        }

        $.ajax({
          type: "POST",
          url: "/api/users",
          data: dataString,
          success: addSuccess,
          error: addSuccess,
          dataType: "application/json",
          contentType: "application/json"});

        return false;
        });
    });

    
