doctype html 
html(lang="en")

extends layout

block content
  h1= title
  p Welcome to #{title}

    h2 Role List
    #roleList
      table
        thead
          th _id
          th name
    // /ROLE LIST
    
    button(class="button", id="populate").
      Load Data
    
  
  script(type="text/javascript").
            $.getJSON('/roles', function(data) {
              var mystatus = data.status;
              var myroles = data.roles;
              console.log("JSON status is:");
              console.log(data.status);
              console.log("JSON roles are:");
              console.log(data.roles);
              
              var tablecontents = "";
              tablecontents = '<table>';              
              $.each(myroles, function( key, val) {
              
                  tablecontents += '<tr>';
                  tablecontents += '<td>'+ val._id + '</td>';
                  tablecontents += '<td>'+ val.name + '</td>';
                  tablecontents +='</tr>';
              });
              document.getElementById("roleList").innerHTML = tablecontents;
              });
