extends layout

block content
  h1= title
  p Welcome to #{title}

  // Wrapper
  #wrapper
  
    // ROLE LIST
    h2 Role List
    #roleList
      table
        thead
          th UserName
          th Role
          th Delete?
        tbody
    // /ROLE LIST
    
  // /WRAPPER

